<form [formGroup]="meuForm" (submit)="onSubmit()">
  <h2 class="container">Fomulario de Usuario</h2>
  <div class="form-group container">
    <label>Nome</label>
    <input type="text" formControlName="name" class="form-control" placeholder="Nome"/>
  </div>
  <erro-field-messages [field]="meuForm.controls.name" [nome]="'Nome '"></erro-field-messages>

  <div class="form-group container">
    <label>Email</label>
    <input type="email" formControlName="email" class="form-control" placeholder="Email"/>
  </div>
  <erro-field-messages [field]="meuForm.controls.name" [nome]="'Nome '"></erro-field-messages>

  <div class="form-group container">
    <label>Sexo</label>
    <input type="text" formControlName="gender" class="form-control" placeholder="Sexo"/>
  </div>
  <erro-field-messages [field]="meuForm.controls.name" [nome]="'Nome '"></erro-field-messages>

  <div class="form-group container">
    <label>Status</label>
    <input type="text" formControlName="status" class="form-control" placeholder="Status"/>
  </div>
  <erro-field-messages [field]="meuForm.controls.name" [nome]="'Nome '"></erro-field-messages>

  <div class="form-group container text-center">
    <button type="submit" [disabled]="!meuForm.valid" class="btn btn-primary">Enviar</button>
  </div>
</form>
